  /*==========================================================================
	BLUE THEME
  ========================================================================== */
	a,
	a:hover,
	a:focus, 
	.section-title h3, 
	.bxslider .img .caption h1, 
	.mega-dropdown-menu .dropdown-sub-header { 
		color: #2a5d9f;
	}
	nav {
		background: #3b71b6;
		box-shadow: inset 0 -4px 0 0 #2a5d9f;
		-webkit-box-shadow: inset 0 -4px 0 0 #2a5d9f;
		-moz-box-shadow: inset 0 -4px 0 0 #2a5d9f;
	}
	nav ul li .dropdown-menu {
		border: 4px solid #2a5d9f;
	}
	.header,
	#search input[type=text],
	.mega-dropdown-menu .dropdown-header,
	#bx-tabs .active .bx-section,
	.pace .pace-progress	{
		background: #2a5d9f;
	}
  